.paddingCont {
	padding: 10px 50px;
}
.paddingCont h2 {
	font-size: 25px;
	margin-bottom: -10px;
	margin-top: 50px;
}
.paddingCont h2 a {
	text-decoration: none;
	color: #000000;
}
#firstH2 {
	margin-top: 0px;
}

@media only screen and (max-width : 768px) {
	.paddingCont {
		padding: 10px;
	}
}