:host {
  display: block;

  padding: 10px;
}
paper-checkbox {
  --paper-checkbox-checkmark-color: black;
  --paper-checkbox-size: 25px;
}
paper-toggle-button {
  --paper-toggle-button-checked-bar-color: #78caff;
}
paper-radio-button {
  --paper-radio-button-checked-color: #000000;
}
.options {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.firstOption {
  width: 100%;
  margin-bottom: 20px;
}
.mainLabels {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
  color: #555555;
}
.labels {
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}
.firstLabel {
  font-size: 16px;
  width: 100%;
}
.labelsColor {
  font-size: 16px;
  width: 50%;
  margin-top: 10px;
  margin-right: -10px;
}
.labelButton {
  margin-left: 15px;
}
.labelSkip {
  font-size: 16px;
  width: 50%;
  margin-top: 10px;
  margin-right: 5px;
}
.inputVideo {
  width: 75%;
  height: 40px;
  border: none;
  border: 1px solid grey !important;
  border-radius: 2px;
  font-size: 15px;
  color: grey;
  padding-left: 10px;
  transition: all 0.25s ease;
}
.inputVideo:focus {
  box-shadow: 0px 0px 10px #78caff;
  transition: all 0.25s ease;
  border: 1px solid #78caff !important;
}
.inputStyles {
  width: 95%;
  height: 40px;
  border: none;
  border: 1px solid grey !important;
  border-radius: 2px;
  font-size: 15px;
  color: grey;
  padding-left: 10px;
  margin-bottom: 10px;
  transition: all 0.25s ease;
}
.inputStyles:focus {
  box-shadow: 0px 0px 10px #78caff;
  transition: all 0.25s ease;
  border: 1px solid #78caff !important;
}
#emailAddress {
  width: 75%;
  height: 40px;
  border: none;
  border: 1px solid grey !important;
  border-radius: 2px;
  font-size: 15px;
  color: grey;
  padding-left: 10px;
  margin-bottom: 10px;
  transition: all 0.25s ease;
}
#emailAddress:focus {
  box-shadow: 0px 0px 10px #78caff;
  transition: all 0.25s ease;
  border: 1px solid #78caff !important;
}
.buttons {
  width: 22%;
  height: 44px;
  border: none;
  border-bottom: 1px solid #58aadd;
  border-radius: 2px;
  font-size: 16px;
  background-color: #78caff;
  color: white;
  float: right;
  transition: all 0.25s ease;
}
.buttons:hover {
  background-color: #98eaff;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 10px white;
  border-bottom: 1px solid #78caff;
  color: white;
  cursor: pointer;
}
#generateCode {
  width: 22%;
  height: 44px;
  border: none;
  border-bottom: 1px solid #58aadd;
  border-radius: 2px;
  font-size: 16px;
  background-color: #78caff;
  color: white;
  float: right;
  transition: all 0.25s ease;
}
#generateCode:hover {
  background-color: #98eaff;
  transition: all 0.25s ease;
  border-bottom: 1px solid #78caff;
  box-shadow: 0px 0px 10px white;
  color: white;
  cursor: pointer;
}
.comments {
  font-size: 14px;
  margin-top: -10px;
}
#customTimeValue {
  margin-top: 20px;
}
.addDelete {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #58aadd;
  border-radius: 2px;
  background-color: #78caff;
  color: white;
  transition: all 0.25s ease;
  margin-right: 10px;
}
.addDelete:hover {
  background-color: #98eaff;
  border-bottom: 1px solid #78caff;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 10px white;
  color: white;
  cursor: pointer;
}
textarea {
  width: 100%;
  height: 150px;
  border: none;
  border: 1px solid grey !important;
  border-radius: 2px;
  font-size: 12px;
  color: grey;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  transition: all 0.25s ease;
}
textarea:focus {
  box-shadow: 0px 0px 10px #78caff;
  transition: all 0.25s ease;
  border: 1px solid #78caff !important;
}
.info {
  font-size: 14px;
  color: red;
  margin-top: -10px;
}

/* Iframe Styling */

.outer {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -30px;
}
.myIframe {
position: relative;
padding-bottom: 50.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
border: solid black 1px;
}
.myIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#form {
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  margin-top: -24px;
}
#form input {
  margin-top: 10px;
}
#introText {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  padding-top: 4.5%;
  margin-bottom: 3%;
}
#question {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
.answers {
  padding: 13px;
  width: 40%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  margin: 10px 10px 10px 10px;
}
#iframeLogo {
  width: 80px;
  margin-top: -23px;
  margin-right: 10px;
  float: right;
}
/* Columns */
.container {
  width: 97%;
  padding: 0px 20px;
}
.col-sm-8 {
  padding-left: 40px;
  width: 60%;
  display: inline-block;
  top: 0;
}
.col-sm-4 {
  padding-right: 4%;
  width: 30%;
  display: inline-block;
  float: right;
  margin-top: 100px;
}
#topInfo {
  width: 100%;
  background-color: transparent;
  padding-top: -10px;
  margin: 0px;
}
#infoLeft {
  width: 50%;
  float: left;
}
#infoRight {
  width: 50%;
  float: left;
  margin-top: -40px;
}
.infoPadding {
  padding-left: 50px;
  padding-right: 50px;
}
#upArrow {
  float: right;
  background-color: transparent;
  border: none;
  margin-top: 0px;
}
#topInfoDrop p {
  margin-top: -5px;
  margin-bottom: 0px;
}
#infoLeft p {
  font-size: 15px;
  margin-bottom: 0px;
}
#fullInfo {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  min-height: 300px;
}
#videoSurvey {
  width: 380px;
}

@media only screen and (max-width : 320px) {
  .container {
    width: 97%;
    padding: 0px 5px;
  }
  .col-sm-8 {
    padding: 0px;
    width: 100%;
    margin-top: -5px;
  }
  .col-sm-4 {
    padding: 0px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .inputVideo {
    height: 40px;
    width: 60%;
  }
  .buttons {
    height: 44px;
    width: 30%;
    font-size: 16px;
  }
  .inputStyles {
    height: 40px;
  }
  #emailAddress {
    height: 40px;
    width: 60%;
  }
  #generateCode {
    height: 44px;
    width: 30%;
    font-size: 14px;
  }
  .labelsColor {
    display: block;
    width: 60%;
  }
  .labelButton {
    margin-left: 0px;
  }
  .labelSkip {
    margin-top: 15px;
  }
  #introText {
    font-size: 12px;
    padding-top: 11%;
    margin-bottom: 5px;
  }
  #email {
    width: 200px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }
  #submit {
    width: 100px;
    height: 25px;
    font-size: 14px;
  }
  #form input {
    margin-top: 5px;
  }
  #skipEmail {
    font-size: 12px;
    margin-top: 0px;
  }
  #infoLeft {
    width: 100%;
    float: ;
    margin-top: -30px;
  }
  #infoRight {
    width: 100%;
    float: ;
    margin-top: 0px;
  }
  .infoPadding {
    padding-left: 5px;
    padding-right: 5px;
  }
  #fullInfo {
    min-height: 600px;
  }
  #videoSurvey {
    width: 100%;
  }
}
@media only screen and (min-width : 321px) and (max-width : 480px) {
  .container {
    width: 97%;
    padding: 0px 10px;
  }
  .col-sm-8 {
    padding: 0px;
    width: 100%;
    margin-top: -5px;
  }
  .col-sm-4 {
    padding: 0px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .inputVideo {
    height: 40px;
    width: 65%;
  }
  .buttons {
    height: 44px;
    width: 25%;
    font-size: 16px;
  }
  .inputStyles {
    height: 40px;
  }
  #emailAddress {
    height: 40px;
    width: 65%;
  }
  #generateCode {
    height: 44px;
    width: 25%;
    font-size: 16px;
  }
  .labelsColor {
    display: block;
  }
  .labelButton {
    margin-left: 0px;
  }
  .labelSkip {
    margin-top: 15px;
  }
  #introText {
    font-size: 14px;
    padding-top: 12.5%;
    margin-bottom: 5px;
  }
  #email {
    width: 200px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #submit {
    width: 100px;
    height: 30px;
  }
  #form input {
    margin-top: 5px;
  }
  #skipEmail {
    font-size: 14px;
    margin-top: 0px;
  }
  #infoLeft {
    width: 100%;
    float: ;
    margin-top: -30px;
  }
  #infoRight {
    width: 100%;
    float: ;
    margin-top: 0px;
  }
  .infoPadding {
    padding-left: 5px;
    padding-right: 5px;
  }
  #fullInfo {
    min-height: 650px;
  }
  #videoSurvey {
    width: 100%;
  }
}
@media only screen and (min-width : 481px) and (max-width : 768px) {
  .container {
    width: 97%;
    padding: 0px 10px;
  }
  .col-sm-8 {
    padding: 0px;
    width: 100%;
    margin-top: -5px;
  }
  .col-sm-4 {
    padding: 0px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .inputVideo {
    height: 45px;
    width: 70%;
  }
  .buttons {
    height: 49px;
    font-size: 18px;
  }
  #emailAddress {
    width: 65%;
  }
  #generateCode {
    font-size: 18px;
  }
  #infoLeft {
    width: 100%;
    float: ;
    margin-top: -30px;
  }
  #infoRight {
    width: 100%;
    float: ;
    margin-top: 0px;
  }
  .infoPadding {
    padding-left: 20px;
    padding-right: 20px;
  }
  #fullInfo {
    min-height: 710px;
  }
  #videoSurvey {
    width: 100%;
  }
}
@media only screen and (min-width : 769px) and (max-width : 992px) {
  .container {
    width: 97%;
    padding: 0px 10px;
  }
  .col-sm-8 {
    padding-left: 0px;
  }
  .col-sm-4 {
    width: 38%;
    padding-right: 0px;
  }
  .inputStyles {
    width: 100%;
  }
  paper-swatch-picker {
    margin-right: 35.5%;
  }
  .labelButton {
    margin-left: 0px;
  }
  #generateCode {
    font-size: 18px;
    width: 30%;
  }
  .inputVideo {
    width: 70%;
  }
  #emailAddress {
    width: 65%;
  }
  #fullInfo {
    min-height: 380px;
  }
  #videoSurvey {
    width: 100%;
  }
}
@media only screen and (min-width : 993px) and (max-width : 1200px) {
  .container {
    width: 97%;
    padding: 0px 10px;
  }
  .col-sm-8 {
    padding-left: 10px;
  }
  .col-sm-4 {
    width: 36%;
    padding-right: 10px;
  }
  #generateCode {
    font-size: 18px;
  }
  #videoSurvey {
    width: 80%;
  }
}